@model ECommerceCore7.Models.Entities.PageGroup
@{
    ViewData["Title"] = $"{ViewData["Title"]} {ViewData["ControllerSingularTitle"]}";
}
<h1><i class='@ViewData["Icon"]'></i> @ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PageGroupID" />
            <div class="form-group">
                <label asp-for="PageGroupTitle" class="control-label"></label>
                <input asp-for="PageGroupTitle" class="form-control" />
                <span asp-validation-for="PageGroupTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PageGroupIcon" class="control-label"></label>
                <input asp-for="PageGroupIcon" class="form-control ltr" />
                <span asp-validation-for="PageGroupIcon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">ثبت</button>
                <a asp-action="Index" class="btn btn-secondary">بازگشت به فهرست</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
