@{
    ViewData["Title"] = "تایید تغییر ایمیل شما";
}

<h1>@ViewData["Title"]</h1>
@{ var statusMessageClass = ViewBag.StatusMessage.StartsWith("خطا") ? "danger" : "success"; }

<div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    @ViewBag.StatusMessage
</div>